*{
    font-family: poppins,inter,sans-serif;
    padding: 0%;
    margin: 0%;
    display: block;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 3%;
}
#input{
margin-right: 20%;
}
.nav-item{
    padding: 0.5%;
    font-size: small;
}
#login{
    margin-left: 20%;
    margin-right: 5%;
}
#get{
    background-color: #ED661F;
    padding:20px ;
    margin-right: 20px;
}

.Beginning{
    background-image: url('images/image\ 1.png');
    padding: 10%;
    background-position:0% ;
    max-width:100%;
    display: flex;
    justify-content: space-around;
}
#sale{
    margin-right: 30%;
    margin-left: 5%;
    padding:2% ;
}
.buy{
    font-weight: 800;
    font-size: ;
    display: inline;
}
.goods{
    font-weight: 200;
}
#exploremore{
    background-color: #ED661F;
    color: white;
    padding: 2%;
    font-size: large;
    font-weight: 800;
}

.rates{
    display: flex;
    border: 2px solid grey;
    box-shadow: 2px 2px 4px;
    margin-left: 800px;
    padding: 60px;
    margin-top: -5%;
    background-color: beige;
    justify-content: space-around;
    text-align: center;
    font-weight: 800;
}
.Reason{
    display:flex;
    padding: 35px;
    font-size: 30px;
    margin-left: 5%;
    justify-content:space-around;
}
.exist{
    margin-right: -5%%;
}
.image3{
    margin-left: 20%;
    margin-right: 5%;
}
.known{
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.Food{
    display: flex;
    padding: 35px;
    justify-content: space-between;
}
 .Information{
    display: flex;
    flex-direction: row;
    font-size: large;
    align-items: center;
 }
 .footer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 60px;
 }
 .Dietchain{
    background-color: black;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto;
 }
 .Agriplus{
    display: flex;
    background-color: black;
    color: white;
    list-style: none;
 }
 #Privacy{
    font-weight: bold;
    background-color: black;
    color: white;
    text-align: center;
 }

 .Conversation{
    display: flex;
 }

 .link{
    
 }
 .space{
    background-color: beige;
    width: 2%;
    border:2% ;
 }